body {
  height: initial !important; }

.ui.sidebar.inverted.vertical.menu .item {
  font-size: 2em;
  display: flex;
  align-items: center; }
  .ui.sidebar.inverted.vertical.menu .item .icon {
    margin: 0; }
  .ui.sidebar.inverted.vertical.menu .item span {
    margin-left: 1em; }

.ui.fixed.inverted.menu .ui.container .content.icon, .ui.fixed.inverted.menu .ui.container .main.title {
  font-size: 2.2em;
  color: white; }

#first {
  margin-top: 6em; }

.ui.tab.segment {
  max-height: 400px;
  overflow-y: auto; }

.ui.table .options.cell {
  display: flex;
  justify-content: space-around;
  opacity: 0;
  transition: opacity 0.2s; }
  .ui.table .options.cell:hover {
    opacity: 1; }

.wrapper {
  display: flex; }
  .wrapper .timeline.container {
    width: 30%; }

.ui.form input[type=text]:disabled {
  background: #e8e8e8; }

.item .disabled.action {
  pointer-events: none;
  visibility: hidden; }

.action {
  cursor: pointer; }

.content p {
  margin-left: 1em; }
  .content p a {
    color: black; }

.ui.fixed.inverted.bottom.menu {
  top: initial;
  left: 0;
  right: initial;
  bottom: 0; }
