body {
  height: initial !important;
}

//SIDEBAR

.ui.sidebar.inverted.vertical.menu {
  .item {
    font-size: 2em;
    display: flex;
    align-items: center;

    .icon {
      margin: 0;
    }

    span {
      margin-left: 1em;
    }
  }
}

//PAGE HEADER

.ui.fixed.inverted.menu .ui.container {

  .content.icon, .main.title {
    font-size: 2.2em;
    color: white;
  }

  .ui.item img{
    height: 30px;
    width: auto;
  }

}

.pointing.dropdown .menu .item{
  color: black;
}

//CONTENT

#first {
  margin-top: 6em;
}

.ui.tab.segment {
  max-height: 400px;
  overflow-y: auto;
}

//options icons for editing and removing

.container.options {
  display: flex;
  justify-content: space-around;
  * {
    opacity: 0;
    transition: opacity 0.2s;

    &:hover {
      opacity: 1;
    }
  }
}

//Grid for showing timeline and evolution information

.wrapper:not(.options) {
  display: flex;

  .timeline.container {
    width: 30%;
  }
}

//styles for body parts and training view
.ui.body.training.container {
  display: flex;

  .ui.segments {
    &:first-child {
      width: 25%;
    }
    margin: 0;
    width: 70%;

    .body.part.segment, .training.segment {
      display: flex;
      justify-content: space-between;
      cursor: pointer;
    }

    .body.part.segment .container.options {
      width: 115px;
      margin-left: 1em;
    }

    .training.segment .container.options {
      width: 115px;
      margin: 0 13em 0 0;
    }
  }
}

//FORMS

.ui.form input[type=text]:disabled {
  background: #e8e8e8;
}

//BUTTONS AND LINKS

.item .disabled.action {
  pointer-events: none;
  visibility: hidden;
}

.action {
  cursor: pointer;
}

.content p {
  margin-left: 1em;

  a {
    color: black;
  }
}

.fields .ui.basic.button {
  height: 38px;
  align-self: flex-end;
  width: 120px;
}

.is-selected {
  font-weight: bold;
}

//MENU

.top.right.pointing.dropdown .menu.left {
  flex-direction: column;
}

.ui.fixed.inverted.bottom.menu {
  top: initial;
  left: 0;
  right: initial;
  bottom: 0;
}