body {
  height: initial !important;
}

//SIDEBAR

.ui.sidebar.inverted.vertical.menu {
  .item {
    font-size: 2em;
    display: flex;
    align-items: center;

    .icon {
      margin: 0;
    }

    span {
      margin-left: 1em;
    }
  }
}

//PAGE HEADER

.ui.fixed.inverted.menu .ui.container {

  .content.icon, .main.title {
    font-size: 2.2em;
    color: white;
  }

}

//CONTENT

#first {
  margin-top: 6em;
}

.ui.tab.segment {
  max-height: 400px;
  overflow-y: auto;
}

//Grid for showing timeline and evolution information

.wrapper {
  display: flex;

  .timeline.container {
    width: 30%;
  }
}

//FORMS

.ui.form input[type=text]:disabled {
  background: #e8e8e8;
}

//BUTTONS AND LINKS

.action {
  cursor: pointer;
}

.content p {
  margin-left: 1em;

  a {
    color: black;
  }
}

//BOTTOM MENU

.ui.fixed.inverted.bottom.menu {
  top: initial;
  left: 0;
  right: initial;
  bottom: 0;
}